<html>
    <head>
    <title>Report</title></head>
    <script type="text/javascript" src="http://localhost:8080/"></script>
<body>
    <h1>Report</h1>

    {% macro get_hits(data, needDay) %}
        {% for day, hits in data %}
            {% if day == needDay %}
                {{ hits }}
            {% endif %}
        {% endfor %}
    {% endmacro %}

    <div id="main" style="height:300px;"></div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/2.1.9/echarts-all.js"></script>

    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        myChart.setOption({
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['Hits']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: false},
                    dataView : {show: false, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: false},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : [
                    {% for day in chartKeys %}
                        '{{ day }}'{% if not forloop.Last %},{% endif %}
                    {% endfor %}
                    ]
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    splitArea : {show : true}
                }
            ],
            series : [
                {
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    smooth: true,
                    name:'1',
                    type:'bar',
                    data: [
                    {% for day in chartKeys %}
                        {{ get_hits(chartData, day) }}{% if not forloop.Last %},{% endif %}
                    {% endfor %}
                    ]
                }
            ]
        });
    </script>
</body>
</html>
